<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dingding">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.LoginActivity">
        </activity>

        <meta-data
            android:name="design_width"
            android:value="720"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>

        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RegisterActivity">
        </activity>
        <activity android:name=".ui.activity.ServiceAgreementActivity">
        </activity>
        <activity android:name=".ui.activity.PrivacyPolicyActivity">
        </activity>
        <activity android:name=".ui.activity.CodeVerifyActivity">
        </activity>
        <activity android:name=".ui.activity.CantReceiveActivity">
        </activity>
        <activity android:name=".ui.activity.SetLoginCodeActivity">
        </activity>
        <activity android:name=".ui.activity.SplashActivity">
        </activity>
        <activity android:name=".ui.activity.LogoActivity">
        </activity>
        <activity android:name=".ui.activity.CountryActivity">
        </activity>
        <activity android:name=".ui.activity.MyRedPacketActivity">
        </activity>
        <activity android:name=".ui.activity.MyCollectionActivity">
        </activity>
        <activity android:name=".ui.activity.InvitationActivity">
        </activity>
        <activity android:name=".ui.activity.SettingActivity">
        </activity>
        <activity android:name=".ui.activity.MyInfomationActivity">
        </activity>
        <activity android:name=".ui.activity.AccountAndSecurityActivity">
        </activity>
        <activity android:name=".ui.activity.NewInformationActivity">
        </activity>
        <activity android:name=".ui.activity.NoDistrubActivity">
        </activity>
        <activity android:name=".ui.activity.PrivacyActivity">
        </activity>
        <activity android:name=".ui.activity.UniversalActivity">
        </activity>
        <activity android:name=".ui.activity.AboutDingdingActivity">
        </activity>
        <activity android:name=".ui.activity.SelectPhotoActivity">
        </activity>
        <activity android:name=".ui.activity.AccountProtectActivity">
        </activity>
        <activity android:name=".ui.activity.InputNewNumberActivity">
        </activity>
        <activity android:name=".ui.activity.SecurityPwdLockActivity">
        </activity>
        <activity android:name=".ui.activity.BlacklistActivity">
        </activity>
        <activity android:name=".ui.activity.SharePhonenumberActivity">
        </activity>
        <activity android:name=".ui.activity.RegionActivity">
        </activity>
        <activity android:name=".ui.activity.SearchActivity">
        </activity>
        <activity android:name=".ui.activity.AddLinkmanActivity">
        </activity>
        <activity android:name=".ui.activity.SearchDINGActivity">
        </activity>
        <activity android:name=".ui.fragment.MyReceiveFragment">
        </activity>
        <activity android:name=".ui.fragment.MySendFragment">
        </activity>
        <activity android:name=".ui.activity.HelpActivity">
        </activity>
    </application>

</manifest>